.App {
    background-color: white;
}


#load-error {
    text-align: center;
}
.form {
    border: 1px solid balck;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
}
